
@{
    ViewBag.Title = "succes";
}

<h2>Instellingen</h2>
<h3>Voeg gebruiker toe</h3>
<hr />
<p>
    De gebruiker is succesvol toegveoegd <a href="/Instellingen">Klik hier</a> voor nog een gebruiker toe te voegen 
</p>

