<h2>Welkom op de admin pagina</h2>

<div class="panel panel-default ">
    <div class="panel-body">Kassa's</div>
    <div class="panel-footer clearfix">
        <ul>
            <li><a href="~/kassa">Bekijk lijst van alle kassas</a></li>
            <li><a href="~/kassa/nieuw">Maak een nieuwe kassa aan</a></li>         
        </ul>
    </div>
</div>
<div class="panel panel-default ">
    <div class="panel-body">Logboek</div>
    <div class="panel-footer clearfix">
        <ul>
            <li><a href="~/logboek">Bekijk lijst van alle logs</a></li>
        </ul>
    </div>
</div>
<div class="panel panel-default ">
    <div class="panel-body">Verenigingen</div>
    <div class="panel-footer clearfix">
        <ul>
            <li><a href="~/vereniging">Bekijk lijst van alle verenigingen</a></li>
            <li><a href="~/vereniging/nieuw">Voeg nieuwe vereniging toe</a></li>
        </ul>
    </div>
</div>
<div class="panel panel-default ">
    <div class="panel-body">Instellingen</div>
    <div class="panel-footer clearfix">
        <ul>
            <li><a href="~/instellingen">Voeg een nieuwe gebruiker toe</a></li>
        </ul>
    </div>
</div>